<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7J9lMzglPi0d1q3Tw19ug1JUhyF8vn14</string>
	<key>GCM_SENDER_ID</key>
	<string>725673772998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classtools.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>classtools-9d1f1</string>
	<key>STORAGE_BUCKET</key>
	<string>classtools-9d1f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725673772998:ios:80ea31564d86072c9b54c7</string>
</dict>
</plist>